@layer components {
  .irelia-scroll-area {
    @apply overflow-y-scroll;
  }

  .irelia-scroll-area--default {
  }

  .irelia-scroll-area--size-sm {
    @apply h-[200px]
  }

  .irelia-scroll-area--size-md {
    @apply h-[400px]
  }

  .irelia-scroll-area--size-lg {
    @apply h-[600px]
  }
}
