@layer components {
  .irelia-flex {
    @apply flex;
  }

  .irelia-flex--row {
    @apply flex-row;
  }

  .irelia-flex--column {
    @apply flex-col;
  }

  .irelia-flex--default {
    @apply gap-5;
  }

  .irelia-flex--gap-none {
    @apply gap-0;
  }

  .irelia-flex--gap-sm {
    @apply gap-2.5;
  }

  .irelia-flex--gap-md {
    @apply gap-5;
  }

  .irelia-flex--gap-lg {
    @apply gap-10;
  }
}
