@layer components {
  .irelia-sidebar__brand {
    @apply text-xl font-bold;
  }

  .irelia-sidebar__brand--default {
    @apply flex justify-between items-center h-28 px-10 text-irelia-primary hover:text-irelia-primary-hover transition;

    .irelia-sidebar__brand--actions {
      @apply text-sm;
    }
  }
}
