<%= content_tag :main, html_options do %>
  <% if breadcrumbs %>
    <div class="irelia-page--breadcrumbs-container">
      <%= render(breadcrumbs) %>
    </div>
  <% end %>

  <%= header if header %>

  <%= content %>
<% end %>
