<%= link_to url, html_options do %>
  <% if icon %>
    <span class="irelia-sidebar__navigation__link__icon">
      <%= helpers.irelia_icon icon_class: icon %>
    </span>
  <% end %>
  <span class="irelia-sidebar__navigation__link__content">
    <%= content %>
  </span>
<% end %>
