# frozen_string_literal: true

class <%= class_name %>::Component < <%= parent_class %>
  def variants
    class_names(
      "<%= css_class_name %>",
      "<%= css_class_name %>--default": variant == :default
    )
  end
end
