# frozen_string_literal: true

class <%= class_name %>::Component < <%= parent_class %>
  style {
    base {
      %w[<%= css_class_name %>]
    }

    variants {
      variant {
        default { %w[<%= css_class_name %>--default] }
      }
    }
  }

  def classes
    style(variant: :default)
  end
end
