@layer components {
  .irelia-divider {
    .irelia-divider__inner_text {
      @apply px-5 text-sm font-bold;
    }
  }

  .irelia-divider--default {
    @apply flex items-center;

    hr {
      @apply flex-grow border-t border-neutral-200;
    }
  }
}
