<%= content_tag :div, html_options do %>
  <div class="icon">
    <%= helpers.irelia_icon { icon_class } %>
  </div>
  <div class="text">
    <% if title %><h5><%= title %></h5><% end %>
    <span><%= content %></span>
  </div>
<% end %>
