<%= content_tag :div, html_options do %>
  <div class="icon">
    <%= helpers.irelia_icon { icon_class } %>
  </div>
  <div class="text">
    <h5><%= heading %></h5>
    <span><%= text %></span>
  </div>
<% end %>
