<%= content_tag :span, html_options.merge({"data-controller": "irelia-dropdown"}) do %>
  <span class="irelia-dropdown__trigger">
    <%= trigger %>
  </span>
  <div
    data-irelia-dropdown-target="menu"
    class="irelia-dropdown__content hidden"
    data-transition-enter-from="transition-closed"
    data-transition-enter-to="transition-open"
    data-transition-leave-from="transition-open"
    data-transition-leave-to="transition-closed"
  >
    <% items.each do |item| %>
      <%= item %>
    <% end %>
  </div>
<% end %>
