@layer components {
  .irelia-dropdown {
    @apply relative;
  }

  .irelia-dropdown--default {
    .irelia-dropdown__content {
      @apply absolute duration-200 top-0 z-50 min-w-[8rem] text-neutral-800 rounded-md border border-neutral-200/70 bg-white mt-10 text-sm p-1 shadow-md w-48 -translate-x-0.5;
      &.transition-closed {
        @apply -translate-y-2 opacity-0;
      }

      &.transition-open {
        @apply -translate-y-0 opacity-100;
      }
    }
  }
}
