@layer components {
  .irelia-dropdown {
    @apply relative;

    &:not(.irelia-dropdown--open) .irelia-dropdown__content {
      @apply hidden;
    }
  }

  .irelia-dropdown--default {
    .irelia-dropdown__content {
      @apply transition-opacity ease-in-out delay-150 duration-300 absolute top-0 z-50 min-w-[8rem] text-neutral-800 rounded-md border border-neutral-200/70 bg-white mt-10 text-sm p-1 shadow-md w-48 -translate-x-0.5;
    }
  }
}
