@layer components {
  .irelia-navbar__navigation__link {
    @apply flex;
  }

  .irelia-navbar__navigation__link--default {
    @apply h-full items-center text-irelia-text hover:text-irelia-primary;
  }

  .irelia-navbar__navigation__link--default.irelia-navbar__navigation__link--active {
    @apply text-irelia-primary font-bold;
  }
}
