@layer components {
  .irelia-app-shell {
    @apply min-h-dvh bg-irelia-background flex;
  }

  .irelia-app-shell--default {
  }

  .irelia-app-shell--main {
    @apply flex-1 grow p-10;
  }

  .irelia-app-shell--breadcrumbs-container {
    @apply h-28 -mt-10 flex items-center;
  }
}
