@layer components {
  .irelia-page__header {
    @apply space-y-1 mb-10;

    h1 {
      @apply text-2xl font-bold text-irelia-primary;
    }

    p {
      @apply text-neutral-400;
    }
  }

  .irelia-page__header--default {
  }
}
