<%= content_tag :div, html_options do %>
  <main class="irelia-split-screen__main">
    <div class="irelia-split-screen__main__inner">
      <%= content %>
    </div>
  </main>
  <aside class="irelia-split-screen__aside"></aside>
<% end %>
