@layer components {
  .irelia-sidebar {
    @apply flex-shrink w-96 bg-stone-50 border-r border-neutral-200;
  }

  .irelia-sidebar--default {
  }

  .irelia-sidebar__inner {
    @apply flex flex-col h-full;
  }
}
